/*=============layout sale======*/
html body{
    overflow: hidden;
}
.table-show-pro{
    width:100%;
    overflow:auto;
    height:350px;
    text-align: center;
    border-bottom: #ffffff;
    position: absolute;
}
.items-style{
    padding-top: 5px;
    height: 650px;
    overflow: auto;
}
#container{

    margin-top: 5px;
    height: 100%;
    overflow: hidden;
}
#container::after{
    content: ""; display: block;
    clear: both;
}
#left-panel{
    width: 33.9%;
    position: relative;
    background-color: #ffffff;
    float: left;
    height: 100%;
}
#left-top{

}
.left-middle{
    position: relative;
    height: 100%;
}
#left-bottom{
    /*border-right: solid 1px #858585;*/
    width: 33.9%;
    position: fixed;
    bottom: 0;
}

#right-section{
    width: 66%;
    /*height: 900px;*/
    height: 100%;
    background-color: #ffffff;
    float: right;
}

/*============import style==========*/
.content {
    /*min-height: 250px;*/
    padding: 1px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
}
/*===========================total_amount==========*/
.total_amount{
    padding-bottom: 3px;
    padding-top: 3px;
}
.checkout_amount{
    padding-top: 10px;
}
.title-total{
    text-align: right !important;
}
.result-total{
    text-align: right !important;
    padding-right: 10px !important;
}
/*!*==============font awsome============*!*/
.btn-social-icon>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 18px !important;
    line-height: 18px !important;
    font-size: 1em !important;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-social-icon {
    position: relative;
    /*padding-left: 44px;*/
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px !important;
    width: 20px !important;
    padding: 1px !important;
}
/*===========ipad container =======*/
.content-wrapper{
    min-height: 900px !important;
}
/*============table order list=============*/
.name-style-order{
    font-size: 15px;
    color: black;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.panel-height{
    /*height: 688px;*/
    background-color: #FFFFFF;
}

table,tr,td{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.tbl-header{
    width:calc(100% - 17px);
    width:-webkit-calc(100% - 17px);
    width:-moz-calc(100% - 17px);
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    width: 100%;
    margin-bottom: 5px;
}
.table td {
    font-weight: normal;
    font-size: 12px;
    padding: 18px 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: #ffffff;
}
.table thead th {
    background: #bcbec0;
    vertical-align: bottom;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
    background-color: #fafafa;
}
table thead th {
    background: #ffffff !important;
}
@media (max-width: 480px) {
    .table-action thead {
        display: none;
    }
    .table-action tr {
        border-bottom: 1px solid #dddddd;
    }
    .table-action td {
        border: 0;
    }
    .table-action td:not(:first-child) {
        display: block;
    }
}
/*==========seach categoty ======*/
.btn-warning {
    background-color: #1990ad !important;
    border-color: #d2d6de;
}
.form-control {
    border-radius: 0px !important;
    box-shadow: none;
    border-color: #deeddb !important;
}
/*=================category style slide click=================*/

.slider {
    display: block;
    width: 100%;
    margin: 0 0 40px;
    background: #fff;
    position: relative;
    z-index: 1;
}
.slider-viewport {
    overflow: hidden;
}
.slider-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}
.slider-button--prev,
.slider-button--next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 50;
}
.slider-button--prev i,
.slider-button--next i {
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    transition: all .3s;
    text-shadow: 3px 1px 1px rgba(121, 121, 121, 0.3);
}
.slider-button--prev:hover i,
.slider-button--next:hover i {
    text-shadow: 5px 3px 2px rgba(121, 121, 121, 0.56);
}
.slider-button--prev {
    left: 0;
}
.slider-button--next {
    right: 0;
}
.slider-nav li {
    display: inline-block;
    margin: 0 6px;
    zoom: 1;
}
.slider-nav li a {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #666;
    background: rgba(121, 121, 121, 0.22);
    cursor: pointer;
    box-shadow: inset 0 0 3px rgba(121, 121, 121, 0.3);
}
.slider-nav li a.active {
    pointer-events: none;
    background: rgba(122, 122, 122, 0.88);
    cursor: default;
}

/*===============category item sale============*/
.cat-items-style{
    text-align: center !important;
    max-height: 55px !important;
}
.slide-shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.08);
}

.fon-size{
    font-size: 14px;
    text-align: center;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}
.col-md-12, .col-md-2,.col-sm-4, .col-xs-6{
    position: relative;
    min-height: 1px;
    padding-right: 2px !important;
    padding-left: 2px !important;
}
/*.info-box {*/
/*display: block;*/
/*min-height: 9px !important;*/
/*background: #fff;*/
/*width: 100%;*/
/*box-shadow: 0 1px 1px rgba(121, 121, 121, 0.1);*/
/*}*/
/*===============item style================*/

.top-item-style{
    width: 134px;
    height: 189px;
}
.padding-around {
    position: relative;
    padding: 4px !important;
    width: 130px !important;
    height: 185px !important;
    min-width: 130px;
    min-height: 185px;
    text-align:  center !important;
    background-color: #ffffff;
    border-radius: 10px;
}
.name-style{
    /*font-size: 15px;*/
    color: black;
    /*text-align: center;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*width: 100%;*/
}
.id-style{
    font-size: 14px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.img-padding{
    border-radius: 10px !important;
}
